<<<<<<< HEAD
<div class="app-content icon-content">
    <div class="section">

        <!-- Page-header opened -->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0">Terms of Service </h4>
                <!-- <small class="text-muted mt-0">Ecommerce dashboard template.</small> -->
            </div>
        </div>
        <!-- Page-header closed -->

        <!-- row opened -->
        <div class="card">
            <div class="row">
                <div class="col-md-12 col-lg-6 pr-0 d-none d-lg-block">
                    <img src="../assets/images/terms_and_cond.png" alt="img" class="">
                </div>
                <div class="col-md-12 col-lg-6 pl-0">
                    <div class="card-body p-7 about-con pabout">
                        <h2 class="mb-3 ">Your Investment Terms of Service</h2>
                        <p>
                            Interests will be paid monthly.
                            <br>
                            <br>For an Affiliate to receive Interest, the TAP account must
                            remain active for a minimum of 30 days.
                            <br><br>
                            You cannot refer yourself, and you will not receive Interest when done.
                            <br><br>
                            Payments will only be made for transactions that have been successfully completed.
                            <br><br>
                            Transactions that result in chargebacks or refunds will not be paid out until after 30 days.
                            <br><br>
                            Your affiliate application and status in the Program may be suspended or terminated for any
                            of the following reasons:

                        </p>
                        <ul>
                            <li>
                                * Failure to disclose the affiliate relationship for any promotion that qualifies as an
                                endorsement.
                            </li>
                            <li>
                                * Violation of intellectual property rights.
                            </li>
                            <li>
                                * Self referrals, fraudulent transactions, suspected Affiliate fraud.
                            </li>
                            <i>* All Affiliate members would be having an MOU with 25% interest on all investments. <br>
                               <strong style="color: red;">Note:: The amount you give your investors is not our Business at TIS.</strong> 
                            </i>
                        </ul>
                        <a [routerLink]="['/tap-account-dashboard/investments/start_new_investment/create_new_investment']"
                            routerLinkActive="router-link-active" class="btn btn-primary  mt-2">Agree & Proceed To Start
                            Investment </a>
                    </div>
                </div><!-- col end -->
            </div>
        </div>
        <!-- row closed -->
    </div>
</div>


<!-- <router-outlet></router-outlet> -->



<!-- <div class="page">
    <div class="page-main">
        <div class="container">
            <div class="app-content">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Terms And Conditions For TAP Invesmtments </h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0 widgets-cards mb-xl-0">
                                            <div class="card-body d-flex">
                                                <div class="widgets-cards-icons">
                                                    <div class="wrp icon-circle bg-success">
                                                        <i class="fa fa-search icons"></i>
                                                    </div>
                                                </div>
                                                <div class="widgets-cards-data">
                                                    <div class="wrp text-wrapper">
                                                        <p>One</p>
                                                        <p class="text-muted mt-1 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0 widgets-cards mb-0">
                                            <div class="card-body d-flex">
                                                <div class="widgets-cards-icons">
                                                    <div class="wrp icon-circle bg-warning">
                                                        <i class="fa fa-newspaper-o icons"></i>
                                                    </div>
                                                </div>
                                                <div class="widgets-cards-data">
                                                    <div class="wrp text-wrapper">
                                                        <p>Two</p>
                                                        <p class="text-muted mt-1 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div> -->
=======
<p>new-investment works!</p>
>>>>>>> first commit from server
