<div class="page">
    <div class="page-main">
        <div class="container">
            <div class="app-content">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="row" style="margin-top: 5%;">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="mb-2">Please Note</h2>
                                                <h4 class="mb-0 text-muted" style="color: red;">
                                                    You have have agreed with
                                                    our investment policies and you have decided to invest into your
                                                    future through us. Please fill the form below and provide the
                                                    relevant information as required. You are on your way to having a
                                                    better life ahead. Note that the Account information required below
                                                    are only asked so that we can be able to send your profit to you
                                                    when the time is due and also return your capital when the time is
                                                    due.
                                                </h4>
                                                <h3 style="color: red;">The minimum amount of investment must not be less than N100,000 and more than N100,000,000</h3>
                                                <!-- <a class="btn btn-primary btn-lg mt-4 " href="#">Get Started Now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="card col-xl-12">
                                <div class="card-header">
                                    <h3 class="card-title"> Investment Information </h3>
                                </div>
                                <div class="card-body" [formGroup]="investmentForm">
                                    <div class="row">

                                        <!-- <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Your Name <span
                                                        class="text-red">*</span></label>
                                                <input type="email" class="form-control" placeholder="Full Name" formControlName="full_name">
                                            </div>
                                        </div> -->


                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Amount <span
                                                        class="text-red">*</span></label>
                                                <input type="text" class="form-control" placeholder="Amount"
                                                    formControlName="amount">
                                            </div>
                                        </div>



                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Investment Duration <span
                                                        class="text-red">*</span></label>
                                                <input type="email" class="form-control" placeholder="Investment Period"
                                                    formControlName="investment_duration">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Your Bank Account Name <span
                                                        class="text-red">*</span></label>
                                                <input type="text" class="form-control" placeholder="Your Bank Account Name"
                                                    formControlName="affiliate_account_name">
                                            </div>
                                        </div>


                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Your Bank Name <span
                                                        class="text-red">*</span></label>
                                                <input type="text" class="form-control" placeholder="Your Bank Account Name"
                                                    formControlName="affiliate_bank_name">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label"> Your Bank Account Number <span class="text-red">*</span></label>
                                                <input type="text" class="form-control" placeholder="Your Bank Name"
                                                    formControlName="affiliate_account_number">
                                            </div>
                                        </div>


                                        <!-- <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Country<span class="text-red">*</span></label>
                                                <select
                                                    class="form-control select2 custom-select select2-hidden-accessible"
                                                    tabindex="-1" aria-hidden="true" formControlName="country">
                                                </select>
                                            </div>
                                        </div> -->

                                        <a  *ngIf="!investmentForm.invalid" (click)="submitNewInvestment($event)" class="btn btn-primary  mt-2" style="color: white;"> Proceed To Invoice </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>