<footer class="footer-main icon-footer">
    <div class="container">
        <div class="  mt-2 mb-2 text-center">
<<<<<<< HEAD
            Copyright Tcode Investment Scheme © 2020 <a [routerLink]="" routerLinkActive="router-link-active" class="fs-14 text-primary">TAP Agent</a>
            <a href="tcodeinvestment.com" class="fs-14 text-primary">
=======
            Copyright Tcode Investment Schemce © 2020 <a [routerLink]="" routerLinkActive="router-link-active" class="fs-14 text-primary">TAP Agent</a>
            <a
                href="https://spruko.com/" class="fs-14 text-primary">Tcode Enterprise
>>>>>>> first commit from server
            </a>
            All rights reserved.
        </div>
    </div>
</footer>