
<div class="page">
    <div class="page-main">
        <div class="container">
            <div class="app-content">


                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Terms And Conditions For TAP Invesmtments </h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- row -->
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0 widgets-cards mb-xl-0">
                                            <div class="card-body d-flex">
                                                <div class="widgets-cards-icons">
                                                    <div class="wrp icon-circle bg-success">
                                                        <i class="fa fa-search icons"></i>
                                                    </div>
                                                </div>
                                                <div class="widgets-cards-data">
                                                    <div class="wrp text-wrapper">
                                                        <p>One</p>
                                                        <p class="text-muted mt-1 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0 widgets-cards mb-0">
                                            <div class="card-body d-flex">
                                                <div class="widgets-cards-icons">
                                                    <div class="wrp icon-circle bg-warning">
                                                        <i class="fa fa-newspaper-o icons"></i>
                                                    </div>
                                                </div>
                                                <div class="widgets-cards-data">
                                                    <div class="wrp text-wrapper">
                                                        <p>Two</p>
                                                        <p class="text-muted mt-1 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

