<ng-container #body>

    <!----- Header top ---->
    <ng-container #topheader></ng-container>
    <!----End Header top ----->

    <ng-container #sidenav></ng-container>

    <!-----Router routes all the route here -->
    <div>
        <router-outlet></router-outlet>
    </div>
    <!------Router navigation end here -->

    <ng-container #centercontainer></ng-container>
    <!---left side bar------->

    <!-----RIGHT SIDE NAV -->
    <ng-container #rightside></ng-container>
    <!-----END SIDE NAV ----->


</ng-container>




<ng-container></ng-container>

<ng-template #profile>
    <!-- Profile -->
    <div class="sidebar-link">
        <a (click)="showProfile()" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
            <i class="fe fe-align-right"></i>
        </a>
    </div>
    <!--- Profile End ----->
</ng-template>


<ng-template #leftnav>
    <div class="sidebar sidebar-right sidebar-animate sidebar-open">


        <div class="p-3">
            <a [routerLink]="['#']" routerLinkActive="router-link-active" class="text-right float-right" data-toggle="sidebar-right" data-target=".sidebar-right"><i
                    class="fe fe-x"></i></a>
        </div>


        <div class="tab-menu-heading  siderbar-tabs border-0">
            <div class="tabs-menu ">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                    <li class=""><a href="#tab" class="active show" data-toggle="tab">Profile</a></li>
                    <!-- <li class=""><a href="#tab1" data-toggle="tab" class="">Investors</a></li> -->
                    <li><a href="#tab2" data-toggle="tab" class="">Activity</a></li>
                    <!-- <li><a href="#tab3" data-toggle="tab" class="">Todo</a></li> -->
                </ul>
            </div>
        </div>


        <div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
            <div class="tab-content border-top">
                <div class="tab-pane active show" id="tab">
                    <div class="card-body p-0">
                        <div class="header-user text-center mt-4 pb-4">
                            <span class="avatar avatar-xxl brround"><img src="/assets/images/users/2.jpg"
                                    alt="Profile-img" class="avatar avatar-xxl brround"></span>
                            <div class="dropdown-item text-center font-weight-semibold user h3 mb-0">
                                Lasisi Akeem Adeshina
                            </div>
                            <small>TAP Agent</small>
                        </div>
                        <a class="dropdown-item  border-top" [routerLink]="['#']" routerLinkActive="router-link-active">
                            <i class="dropdown-icon mdi mdi-account-edit"></i> Edit Profile
                        </a>

                        <a class="dropdown-item border-top" [routerLink]="['/newInvestment']"
                            routerLinkActive="router-link-active">
                            <i class="dropdown-icon  mdi mdi-account-plus"></i> Create Investment
                        </a>
                        <a class="dropdown-item  border-top" href="https://tcodeinvestment.com/contact">
                            <i class="dropdown-icon zmdi zmdi-pin-help"></i> Need Help?
                        </a>

                        <div class="card-body border-top border-bottom">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a class="" [routerLink]="['/messages']" routerLinkActive="router-link-active"><i
                                            class="dropdown-icon mdi  mdi-message-outline fs-20 m-0 leading-tight"></i></a>
                                    <div>Inbox</div>
                                </div>
                                <div class="col-4 text-center">
                                    <a class="" [routerLink]="['/settings']" routerLinkActive="router-link-active"><i
                                            class="dropdown-icon mdi mdi-tune fs-20 m-0 leading-tight"></i></a>
                                    <div>Settings</div>
                                </div>
                                <div class="col-4 text-center">
                                    <a class="" [routerLink]="['#']" routerLinkActive="router-link-active"><i
                                            class="dropdown-icon mdi mdi-logout-variant fs-20 m-0 leading-tight"></i></a>
                                    <div>Sign out</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>



                <div class="tab-pane" id="tab1">
                    <div class="chat">
                        <div class="contacts_card">
                            <!-- <div class="input-group mb-0 p-3">
                                <input type="text" placeholder="Search..." class="form-control search">
                                <div class="input-group-prepend mr-0">
                                    <span class="input-group-text  search_btn  btn-secondary"><i
                                            class="fa fa-search text-white"></i></span>
                                </div>
                            </div> -->
                            <ul class="contacts mb-0">
                                <!-- <div *ngFor="let investor of investors ">
                                    <li class="active">

                                        <div class="d-flex bd-highlight w-100">
                                            <div class="img_cont">
                                                <img src="/assets/images/users/12.jpg" class="rounded-circle user_img"
                                                    alt="img">
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info" *ngIf="!investor['completed']">
                                                <h5 class="mt-1 mb-1">{{investor['name']}}</h5>
                                                <small class="text-muted">{{investor['amount']}}</small>
                                            </div>
                                            <div class="float-right text-right ml-auto mt-auto mb-auto">
                                                <small>{{investor['date']}}</small>
                                            </div>
                                        </div>

                                    </li>
                                </div> -->
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</ng-template>


















@ViewChild('sidenav' , {read : ViewContainerRef , static : true}) 
  private sidenavBar : ViewContainerRef ;

  @ViewChild('topheader' , {read : ViewContainerRef , static : true}) 
  private topheader : ViewContainerRef ;

  @ViewChild('centercontainer' , {read : ViewContainerRef , static : true}) 
  private centercontainer : ViewContainerRef ;





  this.title.setTitle("Account Dashboard | Affliate Account Dashboard ");
    const {SidenavComponent} = await import('../sidenav/sidenav.component');
    const sideNaveFactory =  this.resolser.resolveComponentFactory(SidenavComponent);
    this.sidenavBar.createComponent(sideNaveFactory , null , this.inj);

    const {DashboardHeaderComponent} = await import('../dashboard-header/dashboard-header.component');
    const dashboardHeaderFactory =  this.resolser.resolveComponentFactory(DashboardHeaderComponent);
    this.topheader.createComponent(dashboardHeaderFactory , null , this.inj);

  
    const {CentercontainerComponent} = await import('../centercontainer/centercontainer.component');
    const centerContainerFactory =  this.resolser.resolveComponentFactory(CentercontainerComponent);
    this.centercontainer.createComponent(centerContainerFactory , null , this.inj);


    [routerLink]="['#']" routerLinkActive="router-link-active"
