<<<<<<< HEAD




<div class="app-content icon-content">
    <div class="section">

        <!-- Banner opened -->
        <div class="row">
            <div class="col-xl-12">


                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title"> Ongoing Investments </div>
                                <div class="card-options">
                                    <a [routerLink]="" routerLinkActive="router-link-active"
                                        class="card-options-collapse" data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a>
                                    <a [routerLink]="" routerLinkActive="router-link-active"
                                        class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                            class="fe fe-maximize"></i></a>
                                    <a [routerLink]="" routerLinkActive="router-link-active" class="card-options-remove"
                                        data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <!-- <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dt-buttons btn-group"> <button
                                                        class="btn btn-primary buttons-copy buttons-html5" tabindex="0"
                                                        aria-controls="example" type="button"><span>Copy</span></button>
                                                    <button class="btn btn-primary buttons-excel buttons-html5"
                                                        tabindex="0" aria-controls="example"
                                                        type="button"><span>Excel</span></button> <button
                                                        class="btn btn-primary buttons-pdf buttons-html5" tabindex="0"
                                                        aria-controls="example" type="button"><span>PDF</span></button>
                                                    <button
                                                        class="btn btn-primary buttons-collection dropdown-toggle buttons-colvis"
                                                        tabindex="0" aria-controls="example" type="button"
                                                        aria-haspopup="true"><span>Column visibility</span></button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div id="example_filter" class="dataTables_filter"><label>Search:<input
                                                            type="search" class="form-control form-control-sm"
                                                            placeholder="" aria-controls="example"></label></div>
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="example"
                                                    class="table table-bordered key-buttons text-nowrap dataTable no-footer"
                                                    role="grid" aria-describedby="example_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="border-bottom-0 sorting_asc" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-sort="ascending"
                                                                aria-label="Name: activate to sort column descending"
                                                                style="width: 96px;">Amount</th>
                                                            <th class="border-bottom-0 sorting_asc" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-sort="ascending"
                                                                aria-label="Name: activate to sort column descending"
                                                                style="width: 96px;">Investment Duration</th>
                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Position: activate to sort column ascending"
                                                                style="width: 166px;">Affliate Account Name</th>
                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Office: activate to sort column ascending"
                                                                style="width: 66px;">Affliate Bank Name</th>
                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Affliate Account Number
                                                            </th>

                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Profit
                                                            </th>

                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Payment Reference
                                                            </th>

                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Proof of Payment
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Uploaded Proof of Payment
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Payment Method
                                                            </th>

                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Has Invested
                                                            </th>

                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;">Investment Date 
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Profit Due Date
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Approved 
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Profit Paid 
                                                            </th>


                                                            <th class="border-bottom-0 sorting" tabindex="0"
                                                                aria-controls="example" rowspan="1" colspan="1"
                                                                aria-label="Age: activate to sort column ascending"
                                                                style="width: 27px;"> Capital Returned
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody *ngFor="let investment of ongoingInvestments">
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">{{investment['amount']}}
                                                            </td>
                                                            <td>{{investment['investment_duration']}}</td>
                                                            <td>{{investment['affliate_account_name']}}</td>
                                                            <td>{{investment['affiliate_bank_name']}}</td>
                                                            <td>{{investment['affiliate_account_number']}}</td>
                                                            <td>{{investment['profit']}}</td>
                                                            <td>{{investment['hash']}}</td>
                                                            <td>
                                                                <img [src]="investment['proof_of_payment']" alt="">
                                                                <!-- {{investment['proof_of_payment']}} -->
                                                            </td>
                                                            <td>{{investment['has_uploaded_pop']}}</td>
                                                            <td>{{investment['payment_method']}}</td>
                                                            <td>{{investment['has_invested']}}</td>
                                                            <td>{{investment['investment_date']}}</td>
                                                            <td>{{investment['profit_due_date']}}</td>
                                                            <td>{{investment['approved']}}</td>
                                                            <td>{{investment['has_paid_profit']}}</td>
                                                            <td>{{investment['has_returned_capital']}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-sm-12 col-md-5">
                                                <div class="dataTables_info" id="example_info" role="status"
                                                    aria-live="polite">Showing
                                                    1 to 10 of 57 entries</div>
                                            </div> -->
                                            
                                            
                                            
                                            <div class="col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="example_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="example_previous"><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="0" tabindex="0"
                                                                class="page-link">Previous</a></li>
                                                        <li class="paginate_button page-item active"><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="1" tabindex="0"
                                                                class="page-link">1</a></li>
                                                        <li class="paginate_button page-item "><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="2" tabindex="0"
                                                                class="page-link">2</a></li>
                                                        <li class="paginate_button page-item "><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="3" tabindex="0"
                                                                class="page-link">3</a></li>
                                                        <li class="paginate_button page-item "><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="4" tabindex="0"
                                                                class="page-link">4</a></li>
                                                        <li class="paginate_button page-item "><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="5" tabindex="0"
                                                                class="page-link">5</a></li>
                                                        <li class="paginate_button page-item "><a [routerLink]=""
                                                                routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="6" tabindex="0"
                                                                class="page-link">6</a></li>
                                                        <li class="paginate_button page-item next" id="example_next"><a
                                                                [routerLink]="" routerLinkActive="router-link-active"
                                                                aria-controls="example" data-dt-idx="7" tabindex="0"
                                                                class="page-link">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




<!-----------------ERROR MESSAGE ------->
<ng-container *ngIf="errorLoadingData; then then16;"></ng-container>
<ng-template #then16>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Could Not Retrieve Invesments !</h2>
        <p style="display: block;">Error Occured while trying to fetch unapproved Investments</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="closeError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>



<ng-container *ngIf="loadingData; then then15"></ng-container>
<ng-template #then15>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2> Please Wait! </h2>
        <p style="display: block; text-align: left;">
            Please wait while we retrieve all unapproved investments.
        </p>
        <div class="card-body text-center">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="sa-button-container">
        </div>
    </div>
</ng-template>
=======
<p>ongoing works!</p>
>>>>>>> first commit from server
