<<<<<<< HEAD
<!-- Top-header opened -->
<div class="header-main header sticky">
    <div class="app-header header top-header navbar-collapse ">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="header-brand" href="index.html">
                    <img src="/assets/images/TIS1.png" class="header-brand-img desktop-logo " alt="TAP logo" width="300"
                        height="300">
                    <img src="/assets/images/TIS1.png" class="header-brand-img desktop-logo-1 " alt="TAP logo"
                        width="100" height="100">
                    <img src="/assets/images/TIS1.png" class="mobile-logo" alt="TAP Logo" width="40" height="40">
                    <img src="/assets/images/TIS1.png" class="mobile-logo-1" alt="TAP logo" width="40" height="40">
                </a>
            </div>
            <!-- Tcode Affliate Program Login -->
        </div>
    </div>
</div>
<!-- Top-header closed -->

<div class="app h-100vh sidebar-gone back" style="overflow-y:hidden">

=======
<swal #errorLoginComponent 
title="Failed to login" 
text="Please kindly provide correct login details" icon="cancel" 
[showCancelButton]="true"
[focusCancel]="true">
</swal>



<swal #httpError 
title="Server Error" 
text="Oooops! Error Occured while login..." icon="cancel" 
[showCancelButton]="true"
[focusCancel]="true">
</swal>

<div class="app h-100vh sidebar-gone back" style="overflow-y:hidden">


>>>>>>> first commit from server
    <!-- <img src="/assets/images/TIS1.png" alt="" class="back"> -->
    <!-- Loader -->
    <div id="loading" style="display: none;">
        <img src="assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>


    <!-- Page opened -->
    <div class="page" style="opacity: 1;">
        <div class="">
            <div class="col col-login mx-auto">
                <div class="text-center" style="color: rgb(11, 11, 207); padding-top: 30px; font-family: 'Lato',">
                    <!-- <h3> Tcode Invesment ( TAP AGENT ) </h3> -->

                </div>
            </div>



            <!-- container opened -->
            <div class="container" style="opacity: 1.0; z-index: -500;">
                <div class="row">
                    <div class="col-xl-9 justify-content-center mx-auto text-center">
                        <div class="card" style="opacity: 1.0; z-index: 500;">
                            <div class="row">
<<<<<<< HEAD
                                <div class="col-md-12 col-lg-7 pr-0 d-none d-lg-block" style="margin: auto;">
                                    <img src="assets/images/login3.png" alt="img" class="br-tl-2 br-bl-2 ">
                                </div>
                                <div class="col-md-12 col-lg-5 pl-0 ">

                                    <form [formGroup]="loginForm" class="card-body p-6 about-con pabout">

                                        <div class="card-title text-center  mb-4">LOGIN</div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name"
                                                placeholder="Account Username " formControlName="username">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Account Password"
                                                formControlName="password">
                                        </div>

=======
                                <div class="col-md-12 col-lg-7 pr-0 d-none d-lg-block" style="margin: auto; back">
                                    <img src="assets/images/login3.png" alt="img" class="br-tl-2 br-bl-2 ">
                                </div>
                                <div class="col-md-12 col-lg-5 pl-0 ">
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="card-title text-center  mb-4">LOGIN</div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Password">
                                        </div>
>>>>>>> first commit from server
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <a [routerLink]="['/forgotpassword']"
                                                    routerLinkActive="router-link-active"
                                                    class="float-right small text-info">Forgot password?</a>
                                            </label>
                                        </div>
<<<<<<< HEAD


                                        <div class="form-footer mt-1" *ngIf="!loginForm.invalid">
                                            <a (click)="signIn()" routerLinkActive="router-link-active"
                                                class="btn btn-success btn-block">SignIn</a>
                                        </div>


=======
                                        <div class="form-footer mt-1">
                                            <a (click)="signIn()" routerLinkActive="router-link-active"
                                                class="btn btn-success btn-block">SignIn</a>
                                        </div>
>>>>>>> first commit from server
                                        <div class="text-center fs-15 mt-3">
                                            Don't have account yet? <a [routerLink]="['/register']"
                                                routerLinkActive="router-link-active" class="text-primary">Create
                                                Account</a>
                                        </div>
<<<<<<< HEAD


=======
>>>>>>> first commit from server
                                        <!-- <hr class="divider"> -->
                                        <!-- <div class="mt-2">
                                            <a href="https://www.facebook.com/"
                                                class="btn btn-facebook btn-block">SignIn via Facebook</a>
                                            <a href="https://www.google.com/gmail/"
                                                class="btn btn-google btn-block">SignIn via Google</a>
                                        </div> -->
<<<<<<< HEAD



                                    </form>
=======
                                    </div>
>>>>>>> first commit from server
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container closed -->

        </div>
    </div>
    <!-- Page closed -->
<<<<<<< HEAD
</div>






<ng-container *ngIf="showModal; then then1; else else3"></ng-container>
<ng-template #then1>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Account not verified!</h2>
        <p style="display: block;">Sorry your account is not activated. Kindly check your email inbox to activate your account!</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="close()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else3>
</ng-template>




<ng-container *ngIf="showNotCorrect; then then4; else else4"></ng-container>
<ng-template #then4>


    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Credentials Mismatched</h2>
        <p style="display: block;">Incorrect username or passord provided. <br> The credentials provided does not match any account. Please try again!</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="closeNotCorrect()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #else4>

</ng-template>




<ng-container *ngIf="loginInProcess; then then5"></ng-container>
<ng-template #then5>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2> Please Wait! </h2>
        <p style="display: block; text-align: left;">
            Login is in process... please wait!
        </p>
        <div class="card-body text-center">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="sa-button-container">
        </div>
    </div>

</ng-template>
















<ng-container *ngIf="connectionError; then then11; else else11"></ng-container>
<ng-template #then11>


    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Connection Error!</h2>
        <p style="display: block;">Can not connect to the server at the moment , please try again later!</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="closeConnectionError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #else11>

</ng-template>
=======
</div>
>>>>>>> first commit from server
