.back {
    height: 150%;
    width: 100%;
    background-image: url("/assets/images/TIS1.png");
    background-position: center;
    background-repeat:repeat ;
    background-clip: content-box;
    background-origin: content-box;
    // opacity: 0.5;
    background-size: cover;
    position: absolute;
    display: block;
    // margin: 0 auto;
    // top:50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // opacity: 0.7;
    z-index: -1;

}


@media only screen and (max-width: 600px) {
    back {
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%
    }
}