<<<<<<< HEAD
<div class="app h-100vh sidebar-gone">

    <!-- Loader -->
    <div id="loading" style="display: none;">
        <img src="/assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>

    <!-- Page opened -->
    <div class="page">
        <div class="">
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <!-- <img src="/assets/images/TIS WEB LOGO.png" class="header-brand-img desktop-logo  h-100 mb-5" alt="Dashlot logo" width="10" height="10">
                    <img src="/assets/images/TIS WEB LOGO.png" class="header-brand-img dark-theme  h-100 mb-5 " alt="Dashlot logo" width="10" height="10" -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-xl-6 col-lg-6 pr-0 d-none d-lg-block">
                                <img src="/assets/images/resetpassword.png" alt="img" class="br-tl-2 br-bl-2 " width="250" height="250">
                            </div>
                            <div class="col-md-12 col-xl-6 col-lg-6 pl-0">
                                <div class="card-body p-6 about-con pabout" [formGroup]="resetPassword">

                                    <div class="card-title text-center mb-5">Password Reset </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Repeat password" formControlName="cpassword">
                                    </div>

                                    <div class="form-footer mt-1" *ngIf=" same == true ">
                                        <a (click)="updatepassword($event)" class="btn btn-success btn-block" >Reset Password Now!</a>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page closed -->
</div>


<!----------Show Error Start ---------->
<ng-container *ngIf="error; then then14; else else14"></ng-container>
<ng-template #then14>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>{{error_message}}</h2>
        <p style="display: block;">{{details}}</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="closeError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else14>
</ng-template>
<!----------Show Error End ---------->



<!----------Show success  Start ---------->
<ng-container *ngIf="success; then then13; else else13"></ng-container>
<ng-template #then13>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Password Successfully Reset </h2>
        <p style="display: block;">
            Your Password reset was successful.
        </p>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="close()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else13>
</ng-template>
<!----------Show success End ---------->



<!----------Show success  Start ---------->
<ng-container *ngIf="loading; then then22; else else22"></ng-container>
<ng-template #then22>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;"></div>
        <h2>Updating Account Password </h2>
        <p style="display: block;">
            ...updating your account password, please hold!
        </p>
    </div>
</ng-template>
<ng-template #else22>
</ng-template>
<!----------Show success End ---------->
=======
<p>resetpassword works!</p>
>>>>>>> first commit from server
