<div class="h-100vh sidebar-gone">
    <!--Loader-->
    <div id="loading" style="display: none;">
        <img src="/assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>

    <div class="page">
        <!-- PAGE-CONTENT OPEN -->
        <div class="page-content error-page">
            <div class="container text-center">
                <img src="/assets/images/svg/error.svg" alt="error" class="w-50 floating">
                <h1 class="h2 mt-4 mb-5">Oops! Page Not Found</h1>
                <a class="btn btn-outline-primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                    Back To Home
                </a>
            </div>
        </div>
        <!-- PAGE-CONTENT OPEN CLOSED -->
    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

</div>