<<<<<<< HEAD
<div class="app-content icon-content">
    <div class="section">

        <!-- Page-header opened -->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0">Hi, you are almost done! </h4>
                <!-- <small class="text-muted mt-0">Ecommerce dashboard template.</small> -->
            </div>
            <div class="page-rightheader">
                <div class="d-flex mt-4 mt-xl-0 mt-lg-0">
                    <div class="media mr-5 mt-0">
                        <div class="media-body">
                            <label class="text-muted mb-1">Start Date</label>
                            <h6 class="mb-0">{{current_date}}</h6>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mr-2 mt-0">
                        <div class="media-body">
                            <label class="text-muted mb-1">End Date</label>
                            <h6 class="mb-0">{{due_date}}</h6>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <!-- <a href="#" class="btn btn-pink ml-0 ml-md-4 d-none d-sm-block"><i class="typcn typcn-shopping-cart mr-1"></i>Buy Now</a> -->
                </div>
            </div>
        </div>
        <!-- Page-header closed -->

        <!-- row opened -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> INVESTMENT INVOICE </h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <p class="h3">Pay Through Bank Transfer</p>
                                <address class="fs-15">
                                    Bank Name : UBA<br>
                                    Account Number : 1022623895 <br>
                                    Account Name : Tcode Multiconcept LTD. <br>
                                </address>
                            </div>
                        </div>
                        <div class="">
                            <!-- <p><span class="font-weight-semibold">Order ID  : </span></p> -->
                        </div>
                        <!-- <p class="text-muted text-center">We are glad that you are investing through us at TIS </p> -->
                    </div>


                    <div class="card-body mt-lg-5 mt-sm-5">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <p class="h3">Bank Transfer Proof of Payment </p>
                                <!-----Add the bank image to upload here -->


                                <div class="col-xl-4  col-md-12">

                                    <div class="card">
                                        <div class="item-card">
                                            <div class="item-card-desc">
                                                <a [routerLink]="[]"></a>
                                                <div class="item-card-img">
                                                    <img src="/assets/images/TIS1.png" alt="img" class="br-tr-7 br-tl-7"
                                                        #bank_proof_payment>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">upload Bank Proof Of Payment <label><span
                                                        class="text-red">*</span></label></label>
                                            <div class="input-group">
                                                <input type="file" class="form-control" #image_file>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6" style="margin-top: 30px;" *ngIf="!proof_uploaded">
                                        <a href="" class="btn btn-primary btn-lg" (click)="uploadBankProof($event)">
                                            <i class="fa fa-upload mr-2"></i>
                                            Update Transfer Proof
                                        </a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="">
                            <!-- <p><span class="font-weight-semibold">Order ID  : </span></p> -->
                        </div>
                        <p class="text-muted text-center"> Please upload Bank Proof of Payment after making the transfer! </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- row closed -->
    </div>
</div>
=======
<p>banktransfer works!</p>
>>>>>>> first commit from server
