<div class="app-content icon-content">
    <div class="section">

        <!-- Page-header opened -->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0">TAP Agent </h4>
<<<<<<< HEAD
                <small class="text-muted mt-0 fs-14">... invest beyond ordinary!</small>
=======
                <small class="text-muted mt-0 fs-14">...investing beyound ordinary</small>
>>>>>>> first commit from server
            </div>
            <div class="page-rightheader">
                <div class="ml-3 ml-auto d-flex">
                    <div class="mt-3 mt-md-0">
                        <div class="border-right pr-4 mt-1 d-xl-block">
                            <p class="text-muted mb-2">Category</p>
<<<<<<< HEAD
                            <h6 class="font-weight-semibold mb-0">Amateur</h6>
=======
                            <h6 class="font-weight-semibold mb-0">All Categories</h6>
>>>>>>> first commit from server
                        </div>
                    </div>
                    <div class="mt-3 mt-md-0">
                        <div class="border-right pl-0 pl-md-4 pr-4 mt-1 d-xl-block">
<<<<<<< HEAD
                            <p class="text-muted mb-1">Star Progress </p>
                            <div class="wideget-user-rating">
                                <!-- <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
=======
                            <p class="text-muted mb-1">Customer Rating</p>
                            <div class="wideget-user-rating">
>>>>>>> first commit from server
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
<<<<<<< HEAD
                                </a> -->

                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>

                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>

                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>

                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>

                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>
                                <span class="">(1/5)</span>
                            </div>
                        </div>
                    </div>

=======
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>
                                <span class="">(4.5/5)</span>
                            </div>
                        </div>
                    </div>
                    <span class="mt-3 mt-md-0 pg-header">
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-info ml-0 ml-md-4 mt-1 "><i
                                class="typcn typcn-shopping-cart mr-1"></i>Buy Now</a>
                    </span>
>>>>>>> first commit from server
                </div>
            </div>
        </div>
        <!-- Page-header closed -->

        <!-- Banner opened -->
        <div class="row">
            <div class="col-xl-12">
                <div class="banner banner-color mt-0">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <img src="/assets/images/svg/new_message.svg" alt="image" class="image">
                    </div>
                    <div class="page-content col-xl-7 col-lg-6 col-md-12">
<<<<<<< HEAD

                        <h3 class="mb-1">Welcome back! {{full_name}} </h3>
                        <ng-container *ngIf="has_uploaded && !is_approved ; then then12; else else12"></ng-container>
                        <ng-template #then12>
                                <small class="text-muted mt-0 fs-14">Your affliate documents are under review. This
                                    usually takes 48 hours.</small>
                        </ng-template>
                        <ng-template #else12>

                            <ng-container *ngIf="is_approved ; then then8; else else8"></ng-container>
                            <ng-template #then8>
                                <small class="text-muted mt-0 fs-14">This Account is Approved...</small>
                            </ng-template>


                            <ng-template #else8>
                                <small class="text-muted mt-0 fs-14">Your registeration is yet to be completed... please
                                    click the following button to complete your affliate program application.</small>
                            </ng-template>


                        </ng-template>




                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 text-right d-flex d-block" *ngIf="!has_uploaded">
                        <!-- <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-success mr-3" id="skip">Skip</a> -->
                        <a [routerLink]="['/tap-account-dashboard/affliate-program-application']"
                            routerLinkActive="router-link-active" class="btn btn-primary">Complete Registration</a>
=======
                        <h3 class="mb-1">Welcome back! Lasisi Akeem Adeshina </h3>
                        <p class="mb-0 fs-16">your registration is yet to be completed</p>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 text-right d-flex d-block">
                        <!-- <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-success mr-3" id="skip">Skip</a> -->
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-primary">Complete Registration</a>
>>>>>>> first commit from server
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner opened -->

        <!-- row opened -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
<<<<<<< HEAD
                                <p class="mb-2 h6">Total Capital</p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-success">(+0.35%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p> -->
=======
                                <p class="mb-2 h6">Total Investors</p>
                                <h2 class="mb-1 ">253</h2>
                                <p class="mb-0 text-muted"><span class="text-success">(+0.35%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p>
>>>>>>> first commit from server
                            </div>
                            <div class=" my-auto ml-auto">
                                <div class="chart-wrapper text-center">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart1"
                                        class="areaChart2 chartjs-render-monitor chart-dropshadow-primary overflow-hidden mx-auto"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
<<<<<<< HEAD
                                <p class="mb-2 h6">Total Interest </p>
                                <h2 class="mb-1 ">N0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-danger">(+0.54%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p> -->
=======
                                <p class="mb-2 h6">Cash Invested (Total)</p>
                                <h2 class="mb-1 ">$365</h2>
                                <p class="mb-0 text-muted"><span class="text-danger">(+0.54%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p>
>>>>>>> first commit from server
                            </div>
                            <div class=" my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart2"
                                        class="areaChart2 chartjs-render-monitor chart-dropshadow-secondary overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
<<<<<<< HEAD
                                <p class="mb-2 h6">Total Ongoing Investment</p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-success">(+0.96%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p> -->
=======
                                <p class="mb-2 h6">Sales</p>
                                <h2 class="mb-1 ">15,89</h2>
                                <p class="mb-0 text-muted"><span class="text-success">(+0.96%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p>
>>>>>>> first commit from server
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart3"
                                        class="areaChart3 chartjs-render-monitor chart-dropshadow-info overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
<<<<<<< HEAD
                                <p class="mb-2 h6">Total Completed Investments </p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p> -->
=======
                                <p class="mb-2 h6">Running Projects</p>
                                <h2 class="mb-1 ">25</h2>
                                <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p>
>>>>>>> first commit from server
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart4"
                                        class="areaChart4 chartjs-render-monitor chart-dropshadow-success overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD


            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Total Completed Investments </p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p> -->
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart4"
                                        class="areaChart4 chartjs-render-monitor chart-dropshadow-success overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Total Abandoned Investments </p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p> -->
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart4"
                                        class="areaChart4 chartjs-render-monitor chart-dropshadow-success overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Total Approved Invesments </p>
                                <h2 class="mb-1 ">0</h2>
                                <!-- <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p> -->
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart4"
                                        class="areaChart4 chartjs-render-monitor chart-dropshadow-success overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




=======
>>>>>>> first commit from server
        </div>
        <!-- row closed -->



        <!-- row opened -->
<<<<<<< HEAD
        <!-- <div class="row">
=======
        <div class="row">
>>>>>>> first commit from server
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Activity</h3>
                        <div class="card-options ">
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-collapse" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                    class="fe fe-maximize"></i></a>
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-remove" data-toggle="card-remove"><i
                                    class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="latest-timeline-1 activity-scroll mh-300 ps ps--active-y">
                            <ul class="timeline-1 mb-0">
                                <li class="mt-0">
                                    <i class="fe fe-check bg-primary text-white product-icon primary-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">Task
                                        finished</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">01 Jun, 2019</a>
                                    <p class="mb-0 mt-2 text-muted"><span class="text-primary font-weight-semibold">Adam
                                            Berry</span> finished
                                        task on<a [routerLink]="[]" routerLinkActive="router-link-active" class="text-info font-weight-semibold"> Project
                                            Management</a></p>
                                    <div class="mt-2">
                                        <span class="badge badge-success-light">Bootstrap</span>
                                        <span class="badge badge-danger-light">HTML</span>
                                        <span class="badge badge-warning-light">Css</span>
                                    </div>
                                </li>
                                <li class="mt-0">
                                    <i
                                        class="fe fe-message-square bg-secondary text-white product-icon secondary-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">New
                                        Comment</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">05 Jun, 2019</a>
                                    <p class="mb-0 mt-2 text-muted"><span
                                            class="text-primary font-weight-semibold">Victoria</span> commented on
                                        Project <a [routerLink]="[]" routerLinkActive="router-link-active" class="text-info font-weight-semibold"> AngularJS
                                            Template</a></p>
                                </li>
                                <li class="mt-0">
                                    <i
                                        class="fe fe-alert-triangle bg-danger text-white product-icon danger-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">Task
                                        Overdue</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">01 Jun, 2019</a>
                                    <p class="mb-0 mt-2"> Task the <span
                                            class="text-info font-weight-semibold">Wordpress Project</span> is on
                                        hold its takes longer than usual.</p>
                                    <div class="mt-2">
                                        <span class="badge badge-success-light">Bootstrap</span>
                                        <span class="badge badge-danger-light">HTML</span>
                                        <span class="badge badge-warning-light">Css</span>
                                    </div>
                                </li>
                                <li class="mt-0">
                                    <i class="fe fe-check bg-success text-white product-icon success-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">Task
                                        finished</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">01 Jun, 2019</a>
                                    <p class="mb-0 mt-2"><span class="text-primary font-weight-semibold">Petey
                                            Cruiser</span> finished task <a [routerLink]="[]" routerLinkActive="router-link-active"
                                            class="text-info font-weight-semibold"> Integrated management</a></p>
                                    <div class="mt-2">
                                        <span class="badge badge-success-light">Bootstrap</span>
                                        <span class="badge badge-danger-light">HTML</span>
                                        <span class="badge badge-warning-light">Css</span>
                                    </div>
                                </li>
                                <li class="mt-0">
                                    <i class="fe fe-check bg-success text-white product-icon success-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">Task
                                        finished</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">01 Jun, 2019</a>
                                    <p class="mb-0 mt-2"><span class="text-primary font-weight-semibold">Manuel
                                            Labor</span> finished task <a [routerLink]="[]" routerLinkActive="router-link-active"
                                            class="text-info font-weight-semibold"> Program Management</a></p>
                                    <div class="mt-2">
                                        <span class="badge badge-success-light">Bootstrap</span>
                                        <span class="badge badge-danger-light">HTML</span>
                                        <span class="badge badge-warning-light">Css</span>
                                    </div>
                                </li>
                                <li class="mt-0 mb-0">
                                    <i class="fe fe-message-square bg-info text-white product-icon info-dropshadow"></i>
                                    <a target="_blank" [routerLink]="[]" routerLinkActive="router-link-active" class="font-weight-semibold mb-4 fs-15">Warren
                                        Peace</a>
                                    <a [routerLink]="[]" routerLinkActive="router-link-active" class="float-right fs-12 text-muted">01 Jun, 2019</a>
                                    <p class="mb-0 mt-2"><span class="text-primary font-weight-semibold">Adam
                                            Berry</span> commented on task <a [routerLink]="[]" routerLinkActive="router-link-active"
                                            class="text-info font-weight-semibold"> AngularJS Template</a></p>
                                </li>
                            </ul>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; height: 437px; right: 0px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 281px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card">
                    <div id="carousel-indicator" class="carousel slide dashboard-carousel" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Open Payements</h4>
                                    <small class=""> Since last month</small>
                                    <div class="d-flex  align-items-center">
                                        <h2 class=" mb-0">$3500.00<span class="font-weight-normal text-muted fs-13">/
                                                per month</span></h2>
                                        <div class="text-success mt-0 mb-2  ml-auto">
                                            <i class="mdi mdi-chevron-down mdi-24px"></i> <span class=" ">23.8%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item carousel slide dashboard-carousel" data-ride="carousel">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Open Tasks</h4>
                                    <small class=""> Since last month</small>
                                    <div class="d-flex  align-items-center">
                                        <h2 class=" mb-0">23<span class="font-weight-normal text-muted fs-13">/ per
                                                month</span></h2>
                                        <div class="text-danger mt-0 mb-2  ml-auto">
                                            <i class="mdi mdi-chevron-down mdi-24px"></i> <span class=" ">12.8%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-indicator" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-indicator" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="card overflow-hidden">
                    <div class="card-header border-bottom-0">
                        <div class="card-title d-block">Earnings</div>
                        <div class="card-options">

                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <small class="">Weekly Earning Report</small>
                        <div class="d-flex mb-4">
                            <div class="d-flex  align-items-center">
                                <h2 class="">$7450.40<span class="font-weight-normal text-muted fs-13">/ per
                                        month</span></h2>
                            </div>
                            <span class="text-success ml-auto"><i class="fe fe-arrow-up mr-2"></i>24.05%</span>
                        </div>

                    </div>
                    <div class="chart-wrapper ">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="earning"
                            class="earning chart-dropshadow-primary mb-3 mt-2 h-50 chartjs-render-monitor" width="363"
                            height="180" style="display: block; width: 363px; height: 180px;"></canvas>
                    </div>
                    <div class="row mb-5">
                        <div class="col-6 text-center border-right">
                            <div class="text-muted fs-14">Daily Profit</div>
                            <div class="h3 mt-1 mb-0">$540</div>
                            <span class="text-muted mb-0 fs-14"><span class="text-success mr-1"><i
                                        class="fe fe-arrow-up ml-1"></i>34.5%</span>increase</span>
                        </div>
                        <div class="col-6 text-center">
                            <div class="text-muted fs-14">Last Month Profit</div>
                            <div class="h3 mt-1 mb-0">36</div>
                            <span class="text-muted mb-0 fs-14"><span class="text-danger mr-1"><i
                                        class="fe fe-arrow-down ml-1"></i>34.5%</span>Decrease</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card">
                    <div id="carousel-indicator1" class="carousel slide dashboard-carousel" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Open Invoice</h4>
                                    <small class=""> Since last month</small>
                                    <div class="d-flex  align-items-center">
                                        <h2 class=" mb-0">45,981<span class="font-weight-normal text-muted fs-13">/
                                                per month</span></h2>
                                        <div class="text-success mt-0 mb-2  ml-auto">
                                            <i class="mdi mdi-chevron-down mdi-24px"></i> <span class=" ">38.5%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item carousel slide dashboard-carousel" data-ride="carousel">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Paid Invoices</h4>
                                    <small class=""> Since last month</small>
                                    <div class="d-flex  align-items-center">
                                        <h2 class=" mb-0">32,579<span class="font-weight-normal text-muted fs-13">/
                                                per month</span></h2>
                                        <div class="text-danger mt-0 mb-2  ml-auto">
                                            <i class="mdi mdi-chevron-down mdi-24px"></i> <span class=" ">22.8%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-indicator1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-indicator1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
        </div> -->
=======
        </div>
>>>>>>> first commit from server
        <!-- row closed -->

        <!-- row open -->
        <!-- row closed -->
    </div>
</div>