<<<<<<< HEAD
<div class="app-content icon-content mt-4" style="margin-top : 100px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="margin-top: 2%;">
                <div class="card-body p-4">
                    <div class="statistics-info">
                        <div class="row text-center">
                            <div class="col-lg-3 col-sm-6 mt-4 mb-4">
                                <div class="counter-status">
                                    <div class="counter-icon text-danger">
                                        <i class="icon icon-people"></i>
                                    </div>
                                    <h5>Total Investments</h5>
                                    <h2 class="counter fs-30 text-primary mb-0 number-font">{{total_investments}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 mt-4 mb-4">
                                <div class="counter-status">
                                    <div class="counter-icon text-warning">
                                        <i class="icon icon-rocket"></i>
                                    </div>
                                    <h5>Total Completed Investments</h5>
                                    <h2 class="counter fs-30 text-primary mb-0 number-font">{{total_completed_investments}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6  mt-4 mb-4">
                                <div class="counter-statuss">
                                    <div class="counter-icon text-primary">
                                        <i class="icon icon-docs"></i>
                                    </div>
                                    <h5>Total Ongoing Investments</h5>
                                    <h2 class="counter fs-30 text-primary mb-0 number-font">{{total_ongoing_investments}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 mt-4 mb-4">
                                <div class="counter-status">
                                    <div class="counter-icon text-success">
                                        <i class="icon icon-graph"></i>
                                    </div>
                                    <h5>Total Abandoned Investments</h5>
                                    <h2 class="counter fs-30 text-primary mb-0 number-font">{{total_abandoned_investments}}</h2>
                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-6 mt-4 mb-4">
                                <div class="counter-status">
                                    <div class="counter-icon text-success">
                                        <i class="icon icon-pin"></i>
                                    </div>
                                    <h5>Total Approved Investments</h5>
                                    <h2 class="counter fs-30 text-primary mb-0 number-font">{{total_approved_investments}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- col end -->
    </div>
</div>







<!-----------------ERROR MESSAGE ------->
<ng-container *ngIf="errorLoadingData; then then16;"></ng-container>
<ng-template #then16>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Could Not Retrieve Statistics</h2>
        <p style="display: block;">Error Occured while trying to fetch your investments statitics...</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="closeError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="loadingData; then then15"></ng-container>
<ng-template #then15>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2> Please Wait! </h2>
        <p style="display: block; text-align: left;">
            Please wait while we retrieve your investments statitics...
        </p>
        <div class="card-body text-center">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="sa-button-container">
        </div>
    </div>
</ng-template>



=======
<p>investments works!</p>
>>>>>>> first commit from server
