<div class="app h-100vh sidebar-gone">

    <!-- Loader -->
    <div id="loading" style="display: none;">
        <img src="/assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>

    <!-- Page opened -->
    <div class="page">
        <div class="">
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <!-- <img src="/assets/images/TIS WEB LOGO.png" class="header-brand-img desktop-logo  h-100 mb-5" alt="Dashlot logo" width="10" height="10">
                    <img src="/assets/images/TIS WEB LOGO.png" class="header-brand-img dark-theme  h-100 mb-5 " alt="Dashlot logo" width="10" height="10" -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-xl-6 col-lg-6 pr-0 d-none d-lg-block">
                                <img src="/assets/images/forgotpassword.gif" alt="img" class="br-tl-2 br-bl-2 ">
                            </div>
                            <div class="col-md-12 col-xl-6 col-lg-6 pl-0">
                                <div class="card-body p-6 about-con pabout">
                                    <div class="card-title text-center mb-5">Forgot Password</div>
                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="email" class="form-control" placeholder="Email" [formControl]="email">
                                    </div>
                                    <div class="form-footer mt-1" *ngIf="!email.invalid">
                                        <a (click)="sendPasswordLink($event)" class="btn btn-success btn-block" >Send</a>
                                    </div>
                                    <div class="text-center text-muted mt-3 ">
                                        Forget it, <a [routerLink]="['/login']"
=======
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-footer mt-1">
                                        <a href="index.html" class="btn btn-success btn-block">Send</a>
                                    </div>
                                    <div class="text-center text-muted mt-3 ">
                                        Forget it, <a [routerLink]="['/forgotpassword']"
>>>>>>> first commit from server
                                            routerLinkActive="router-link-active">send me back</a> to the sign in
                                        screen.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page closed -->
<<<<<<< HEAD
</div>


<!----------Show Error Start ---------->
<ng-container *ngIf="error; then then14; else else14"></ng-container>
<ng-template #then14>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>{{error_message}}</h2>
        <p style="display: block;">{{error_detail}}</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="closeError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else14>
</ng-template>
<!----------Show Error End ---------->



<!----------Show success  Start ---------->
<ng-container *ngIf="success; then then13; else else13"></ng-container>
<ng-template #then13>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Passowrd Link Sent</h2>
        <p style="display: block;">
            A link has been sent to the email provided!
        </p>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="closeSuccess()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else13>
</ng-template>
<!----------Show success End ---------->



<!----------Show success  Start ---------->
<ng-container *ngIf="progress; then then18; else else18"></ng-container>
<ng-template #then18>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Sending Reset Password Link</h2>
        <p style="display: block;">
            Please wait while we send you another forgot password link.
        </p>
        <div class="sa-button-container">
        </div>
    </div>
</ng-template>
<ng-template #else18>
</ng-template>
<!----------Show success End ---------->
=======
</div>
>>>>>>> first commit from server
