

<ng-container *ngIf="showVerified; then thenTemplate; else elseTemplate"></ng-container>



<ng-template #thenTemplate>
    <!-- <div  class="container" style="background-color: white; width: 100% ; height : 1000px">
        <div class="row container display">
            <div class="col-xl-12 col-md-12">
                <div class="container">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-xl-3 col-lg-6 container">
                                <div class="">
                                    <div class="card bg-success mb-lg-0">
                                        <div class="card-body text-center text-white">
                                            <i class="fe fe-check-square fs-50 "></i>
                                            <h3 class="font-weight-bold mt-4">Account Verification Message </h3>
                                            <p class="mt-3 mb-5"> Your account has been successfully activated, please wait while we take you to login page </p>
                                            <a class="btn btn-white mx-1 btn-pill" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     -->

    <div class="page">
      <div class="page-main">
        <div class="row">
          <div class="col-xl-12">
            <div class="card p-2 bg-primary">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-9 col-md-12">
                    <h3 class="mb-2 text-white">Account Successfully Verified</h3>
                    <p class="mb-0 text-white">Congratulations! Your account is now successfully verified ; you can proceed 
                      to login into your account dashboard to complete your registration as a TAP Agent!
                    </p>
                  </div>
                  <div class="col-xl-3 pt-2 mt-xl-0 col-md-12 text-center">
                    <a class="btn btn-pink btn-lg mt-4 mt-md-0" [routerLink]="['/login']" routerLinkActive="router-link-active" >Proceed to Login >>> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>

</ng-template>



<ng-template #elseTemplate>
    
</ng-template>






<ng-container *ngIf="showError; then template1; else else2"></ng-container>

<ng-template #template1>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;"><div class="sa-icon sa-error animateErrorIcon" style="display: block;">
        <span class="sa-x-mark animateXMark">
          <span class="sa-line sa-left"></span>
          <span class="sa-line sa-right"></span>
        </span>
      </div><div class="sa-icon sa-warning" style="display: none;">
        <span class="sa-body"></span>
        <span class="sa-dot"></span>
      </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success" style="display: none;">
        <span class="sa-line sa-tip"></span>
        <span class="sa-line sa-long"></span>
  
        <div class="sa-placeholder"></div>
        <div class="sa-fix"></div>
      </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Token Could Not Be Verified</h2>
      <p style="display: block;">Error Occured while trying to verify the activation URL</p>
      <fieldset>
        <input type="text" tabindex="3" placeholder="">
        <div class="sa-input-error"></div>
      </fieldset><div class="sa-error-container">
        <div class="icon">!</div>
      </div><div class="sa-button-container">
        <div class="sa-confirm-button-container">
          <button (click)="goback()" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go Back To Login </button><div class="la-ball-fall">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div></div>

</ng-template>

<ng-template #else2>
</ng-template>








