.display {
    display: block; 
    margin: auto; 
    margin-top: 10%; 
    margin-left: 10%;
}

@media only screen and (max-width: 360px) {
    .display {
        margin-left: 10% ;
        margin-top : 20% ;
    }
  }

@media  only screen and (max-width: 1024px ) and  (max-width : 1366px) {
    .display {
        margin-left: 15% ;
        margin-top : 20% ;
    }
  }