<div class="app-content icon-content">
    <div class="section">

        <!-- Page-header opened -->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0">Hi, you are almost done! </h4>
                <!-- <small class="text-muted mt-0">Ecommerce dashboard template.</small> -->
            </div>
            <div class="page-rightheader">
                <div class="d-flex mt-4 mt-xl-0 mt-lg-0">
                    <div class="media mr-5 mt-0">
                        <div class="media-body">
                            <label class="text-muted mb-1">Start Date</label>
                            <h6 class="mb-0">{{current_date}}</h6>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mr-2 mt-0">
                        <div class="media-body">
                            <label class="text-muted mb-1">End Date</label>
                            <h6 class="mb-0">{{due_date}}</h6>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <!-- <a href="#" class="btn btn-pink ml-0 ml-md-4 d-none d-sm-block"><i class="typcn typcn-shopping-cart mr-1"></i>Buy Now</a> -->
                </div>
            </div>
        </div>
        <!-- Page-header closed -->

        <!-- row opened -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> INVESTMENT INVOICE </h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                    class="fe fe-maximize"></i></a>
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                    class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <p class="h3">TAP Agent Invesment </p>
                                <address class="fs-15">
                                    This document belongs to the named tap agent<br>
                                    on this document.<br>
                                    Contact support@tcodeinvestment.com or <br>
                                    send message to admin if <br>
                                    you have any issue.
                                </address>
                            </div>
                            <!-- <div class="col-lg-6 text-right">
                                <p class="h3">Invoice To</p>
                                <address class="fs-15">
                                    Street Address<br>
                                    State, City<br>
                                    Region, Postal Code<br>
                                    ctr@example.com
                                </address>
                            </div> -->
                        </div>

                        <div class="">
                            <p class="mb-1 mt-5"><span class="font-weight-semibold">Invesment Date : </span>
                                {{current_date}}</p>
                            <p class="mb-1"><span class="font-weight-semibold">Invesment Due Date (If Approved): </span>
                                {{due_date}}</p>
                            <p class="mb-1"><span class="font-weight-semibold">Investment Status : </span>In Progress...
                            </p>
                            <!-- <p><span class="font-weight-semibold">Order ID  : </span></p> -->
                        </div>
                        <div class="table-responsive push">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th class="text-center "></th>
                                        <th>Investment</th>
                                        <th class="text-center">Amount to investment</th>
                                        <th class="text-right">Investment Date</th>
                                        <th class="text-right">Investment Duration</th>
                                        <th class="text-right">Investment Due Date </th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>
                                            <p class="font-w600 mb-1">{{full_name}}</p>
                                            <!-- <div class="text-muted d-none d-sm-block">Mens Black digital watch</div> -->
                                        </td>
                                        <td class="text-center">1</td>
                                        <td class="text-right">{{current_date}}</td>
                                        <td class="text-right"> 30 Days </td>
                                        <td class="text-right">{{due_date}}</td>
                                    </tr>


                                    <tr>
                                        <td colspan="4" class="font-w600 text-right">Amount to Pay</td>
                                        <td class="text-right">N{{amount_to_pay}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-right">
                                            <!---------Pay with flutterwave here -------->
                                            
                                            <button type="button" class="btn btn-primary col-lg-6 col-xl-12"
                                                (click)="payWithFlutterwave()" angular-rave
                                                [customer_email]="'user@example.com'" 
                                                [customer_phone]="'08090909090'"
                                                [amount]="500000" 
                                                [custom_title]="'Bill Payment'" 
                                                [txref]="'USR1295950'"
                                                (callback)="paymentSuccess($event)" 
                                                (onclose)="paymentFailure()"
                                                (init)="paymentInit()">
                                                <i class="si si-wallet"></i>
                                                Pay FLutterwave
                                            </button>

                                            <button type="button" class="btn btn-secondary col-lg-6 col-xl-12 "
                                                (click)="payWithBank()"><i class="si si-wallet"></i> Pay With Bank
                                                Transfer</button>
                                            <button type="button" class="btn btn-info col-lg-6 col-xl-12"
                                                onclick="javascript:window.print();"><i class="si si-printer"></i> Print
                                                Investment Invoice</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="text-muted text-center">We are glad that you are investing through us at TIS </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- row closed -->
    </div>
</div>