<<<<<<< HEAD
<div class="app-content icon-content">
    <div class="section">

        <!-- Page-header opened -->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0">TAP Agent </h4>
                <small class="text-muted mt-0 fs-14">...investing beyound ordinary</small>
            </div>
            <div class="page-rightheader">
                <div class="ml-3 ml-auto d-flex">
                    <div class="mt-3 mt-md-0">
                        <div class="border-right pr-4 mt-1 d-xl-block">
                            <p class="text-muted mb-2">Category</p>
                            <h6 class="font-weight-semibold mb-0">All Categories</h6>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-0">
                        <div class="border-right pl-0 pl-md-4 pr-4 mt-1 d-xl-block">
                            <p class="text-muted mb-1">Customer Rating</p>
                            <div class="wideget-user-rating">
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star text-warning"></i>
                                </a>
                                <a [routerLink]="[]" routerLinkActive="router-link-active">
                                    <i class="fa fa-star-o text-warning mr-1"></i>
                                </a>
                                <span class="">(4.5/5)</span>
                            </div>
                        </div>
                    </div>
                    <span class="mt-3 mt-md-0 pg-header">
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-info ml-0 ml-md-4 mt-1 "><i
                                class="typcn typcn-shopping-cart mr-1"></i>Buy Now</a>
                    </span>
                </div>
            </div>
        </div>
        <!-- Page-header closed -->

        <!-- Banner opened -->
        <div class="row">
            <div class="col-xl-12">
                <div class="banner banner-color mt-0">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <img src="/assets/images/svg/new_message.svg" alt="image" class="image">
                    </div>
                    <div class="page-content col-xl-7 col-lg-6 col-md-12">
                        <h3 class="mb-1">Welcome back! Lasisi Akeem Adeshina </h3>
                        <p class="mb-0 fs-16">your registration is yet to be completed</p>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 text-right d-flex d-block">
                        <!-- <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-success mr-3" id="skip">Skip</a> -->
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-primary">Complete Registration</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner opened -->

        <!-- row opened -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Total Investors</p>
                                <h2 class="mb-1 ">253</h2>
                                <p class="mb-0 text-muted"><span class="text-success">(+0.35%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p>
                            </div>
                            <div class=" my-auto ml-auto">
                                <div class="chart-wrapper text-center">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart1"
                                        class="areaChart2 chartjs-render-monitor chart-dropshadow-primary overflow-hidden mx-auto"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Cash Invested (Total)</p>
                                <h2 class="mb-1 ">$365</h2>
                                <p class="mb-0 text-muted"><span class="text-danger">(+0.54%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p>
                            </div>
                            <div class=" my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart2"
                                        class="areaChart2 chartjs-render-monitor chart-dropshadow-secondary overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Sales</p>
                                <h2 class="mb-1 ">15,89</h2>
                                <p class="mb-0 text-muted"><span class="text-success">(+0.96%)<i
                                            class="fe fe-arrow-up text-success"></i></span>Increase</p>
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart3"
                                        class="areaChart3 chartjs-render-monitor chart-dropshadow-info overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <p class="mb-2 h6">Running Projects</p>
                                <h2 class="mb-1 ">25</h2>
                                <p class="mb-0 text-muted"><span class="text-danger">(+0.42%)</span><i
                                        class="fe fe-arrow-down text-danger"></i>Decrease</p>
                            </div>
                            <div class="my-auto ml-auto">
                                <div class="chart-wrapper">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="areaChart4"
                                        class="areaChart4 chartjs-render-monitor chart-dropshadow-success overflow-hidden"
                                        width="80" height="80"
                                        style="display: block; width: 80px; height: 80px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row closed -->
    </div>
</div>
=======
<p>messages works!</p>
>>>>>>> first commit from server
