<div class="app-content icon-content">
    <div class="section">

        <!--  Page-header opened -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fe fe-life-buoy mr-1"></i> Message </a></li>
                <li class="breadcrumb-item active" aria-current="page">Messages / Received</li>
            </ol>
            <!-- <div class="mt-3 mt-lg-0">
                <div class="d-flex align-items-center flex-wrap text-nowrap">
                    <button type="button" class="btn btn-success btn-icon-text mr-2 d-none d-md-block">
                        <i class="fe fe-download"></i>
                        Import
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon-text mr-2 mb-2 mb-md-0">
                        <i class="fe fe-printer"></i>
                        Print
                    </button>
                    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                        <i class="fe fe-download-cloud "></i>
                        Download Report
                    </button>
                </div>
            </div> -->
        </div>
        <!--  Page-header closed -->

        <!-- row opened -->
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="list-group list-group-transparent mb-0 mail-inbox">
                        <div class="mt-4 mb-4 ml-4 mr-4 text-center">
                            <a href="email.html" class="btn btn-primary btn-lg btn-block">Compose</a>
                        </div>
                        <a href="emailservices.html"
                            class="list-group-item list-group-item-action d-flex align-items-center active">
                            <span class="icon mr-3"><i class="fe fe-inbox"></i></span>Inbox <span
                                class="ml-auto badge-pill badge badge-success">{{inbox_count}}</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-send"></i></span>Sent Messages
                        </a>
                        <!-- <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-alert-circle"></i></span>Important <span
                                class="ml-auto badge-pill badge badge-danger">0</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-star"></i></span>Starred
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-file"></i></span>Drafts
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-tag"></i></span>Tags
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-trash-2"></i></span>Trash
                        </a> -->
                    </div>
                </div>


                <!-- <div class="card">
                    <div class="card-header border-bottom-0 online-status d-flex justify-content-between align-items-center">
                        <p class="card-title">Chats</p>
                        <div class="status offline online"> <h6 class="online text-right">online</h6></div>
                    </div>
                    <ul class="mail-chats m-0">
                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/12.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Brian	Wilson</p>
                                    <p class="u-designation">App Developer</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/1.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Kylie	Morgan</p>
                                    <p class="u-designation">Project manager</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/14.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Andrew Piper</p>
                                    <p class="u-designation">Web designer</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/2.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Peter	Roberts</p>
                                    <p class="u-designation">UI/UX Designer</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/5.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">John	Hamilton</p>
                                    <p class="u-designation">Project leader</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a href="#">
                                <span class="pro-pic"><img src="../assets/images/users/6.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Elizabeth	Fraser</p>
                                    <p class="u-designation">Web Developer</p>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div> -->


            </div>


            <div class="col-lg-12  col-xl-9 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Inbox</h3>
                        <div class="card-options">
                            <form>
                                <!-- <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" placeholder="Search.."
                                        name="s">
                                    <span class="input-group-btn ml-0">
                                        <button class="btn btn-sm btn-primary" type="submit">
                                            <span class="fe fe-search text-white"></span>
                                        </button>
                                    </span>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="inbox-body">
                            <div class="mail-option">
                                <div class="btn-group hidden-phone">
                                    <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                        More
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <!-- <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fas fa-pencil-alt"></i> Mark as Read</a></li>
                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-trash"></i> Delete</a></li>
                                    </ul> -->
                                </div>
                                <div class="btn-group">
                                    <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown"
                                        href="#" class="btn mini tooltips">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                                <ul class="unstyled inbox-pagination mt-3">
                                    <!-- <li><span>1-50 of 234</span></li> -->
                                </ul>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-inbox table-hover table-vcenter mail-body text-nowrap">
                                    <tbody>
                                        <tr class="unread" *ngFor="let message of messages">
                                            <td class="inbox-small-cells">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="checkbox"
                                                        value="checkbox">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </td>
                                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                            <td class="view-message  dont-show"> {{'Admin'}} <span
                                                    class="badge badge-danger badge-pill pull-right">reveived</span></td>
                                            <a [routerLink]=""  (click)="displayMessage($event,message['title'], message['body'] )">
                                                <td class="view-message">{{message['title']}}</td>
                                            </a>
                                            <td class="view-message  inbox-small-cells">
                                                <!-- <i class="fa fa-paperclip"></i> -->
                                            </td>
                                            <td class="view-message  text-right">{{message['body']}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ul class="pagination mb-5">
                    <li class="page-item page-prev disabled">
                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item page-next">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul> -->







                <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Message Read </h3>
                            <div class="card-options">
                                <!-- <a [routerLink] = ""  class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                <a [routerLink] = ""  class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                <a [routerLink] = ""  class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <!-- <div class="form-group">
                                    <div class="row align-items-center">
                                        <label class="col-sm-2">To</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <div class="row align-items-center">
                                        <label class="col-sm-2">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" [value]="title">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row ">
                                        <label class="col-sm-2">Message</label>
                                        <div class="col-sm-10">
                                            <textarea rows="10" class="form-control">{{body}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="card-footer d-sm-flex">
                            <div class="mt-2 mb-2">
                                <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Attach"><i class="fe fe-paperclip text-muted fs-20"></i></a>
                                <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Link"><i class="fe fe-link-2 text-muted fs-20"></i></a>
                                <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Photos"><i class="fe fe-image text-muted fs-20"></i></a>
                                <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fe fe-trash-2 text-muted fs-20"></i></a>
                            </div>
                            <div class="btn-list ml-auto">
                                <button type="button" class="btn btn-danger btn-space">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-space">Send message</button>
                            </div>
                        </div> -->
                    </div>
                </div>




            </div>
        </div>
        <!-- row closed -->
    </div>
</div>