<div class="app-content icon-content">
    <div class="section">

<<<<<<< HEAD









        <div class="row" id="user-profile" style="margin-top: 30px;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="wideget-user">
                            <div class="row">
                                <div class="col-lg-12 col-xl-6 col-md-12">
                                    <div class="wideget-user-desc d-flex">
                                        <div class="wideget-user-img">

                                            <!-- <ng-container *ngIf="profilePicture != '' ; else elseTemplate"></ng-container> -->
                                            <!-- <ng-template #thenTemplate> -->
                                            <img class="" [src]="profilePicture" width="80" height="80">
                                            <!-- </ng-template> -->
                                            <!-- <ng-template #elseTemplate> -->
                                            <!-- <img class="" src="../assets/images/TIS1.png" alt="img" #profile_img> -->
                                            <!-- </ng-template> -->

                                        </div>
                                        <div class="user-wrap mt-lg-0">
                                            <h4>{{full_name}}</h4>
                                            <!-- <h6 class="text-muted mb-3 font-weight-normal">Member Since: November 2018</h6> -->
                                            <a href="#" class="btn btn-primary mt-1 mb-1"
                                                (click)="accountDeleteHelper($event)"
                                                style="background-color: red; color: white;"><i class="fa fa-rss"></i>
                                                Delete Account </a>
                                            <!-- <a href="#" class="btn btn-secondary mt-1 mb-1"><i class="fa fa-envelope"></i> E-mail</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col end -->
        </div>












        <!-- Banner opened -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header" style="margin-top: 0.4%;">
                    <h3 style="margin-top: 10px;"> PROFILE INFORMATION </h3>

                    <div class="card-options ">
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-collapse"
                            data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-fullscreen"
                            data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-remove"
                            data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>





    <!-- <ng-container *ngIf="!is_approved then then10; else else10"></ng-container>
    <ng-template #then10> -->
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="card mb-xl-0">
                <div class="card-header">
                    <h3 class="card-title">Profile Information</h3>
                    <h4 class="card-title" style="color: red;">All * must be filled, update will be rejected if not
                        provided.</h4>
                </div>
                <div class="card-body" [formGroup]="profile">
                    <div class="row">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Surname
                                    <span class="text-red">*</span>
                                </label>
                                <input type="email" class="form-control" placeholder="Surname"
                                    formControlName="surname">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Middle Name
                                    <!-- <span class="text-red">*
                                    </span> -->
                                </label>
                                <input type="email" class="form-control" placeholder="Middle Name"
                                    formControlName="middle_name">
                            </div>
                        </div>



                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> First Name
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="email" class="form-control" placeholder="First name"
                                    formControlName="first_name">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Gender
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="text" class="form-control" placeholder="Gender" formControlName="sex">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Email
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="email" class="form-control" placeholder="Email Address"
                                    formControlName="email">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Phone Number
                                    <span class="text-red">*</span>
                                </label>
                                <input type="email" class="form-control" placeholder="Phone Number"
                                    formControlName="phone_number">
                            </div>
                        </div>




                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> DOB
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="date" class="form-control" placeholder="DOB" formControlName="dob">
                            </div>
                        </div>




                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> Address
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="text" class="form-control" placeholder="Home Address"
                                    formControlName="address">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label">Country
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <select class="form-control select2 custom-select select2-hidden-accessible"
                                    tabindex="-1" aria-hidden="true" formControlName="country">


                                    <ng-container *ngIf="true; then countries;"></ng-container>


                                </select>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> City
                                    <!-- <span class="text-red">*</span> -->
                                </label>
                                <input type="text" class="form-control" placeholder="City" formControlName="city">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label"> State
                                    <!-- <span class="text-red">*</span> -->
                                </label>

                                <input type="text" class="form-control" placeholder="State" formControlName="state">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label">Occupation <span class="text-red">*</span></label>
                                <input type="text" class="form-control" placeholder="Occupation"
                                    formControlName="occupation">
                            </div>
                        </div>



                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label">Postal Code </label>
                                <input type="text" class="form-control" placeholder="Postal Code"
                                    formControlName="postal_code">
                            </div>
                        </div>


                        <!-- <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label">New Username </label>
                                <input type="text" class="form-control" placeholder="New Password"
                                    formControlName="username">
                            </div>
                        </div>

                        <small class="form-label" style="color: red;" *ngIf=" !profile.get('username').invalid && alreadyExists == true"> Username already exist</small>                                    
                        <small class="form-label" style="color:greenyellow" *ngIf="!profile.get('username').invalid && alreadyExists == false"> Username is available</small>                                    
 -->


                        <!-- <div class="col-sm-6 col-md-4" style="margin-top: 30px;" *ngIf="!profile.invalid && alreadyExists">
                            <a href="" class="btn btn-primary btn-lg" (click)="updateProfile($event)">
                                <i class="fa fa-upload mr-2"></i>
                                Update
                            </a>
                        </div> -->


                        <div class="col-sm-6 col-md-4" style="margin-top: 30px;" *ngIf="profile.invalid">
                            <a href="" class="btn btn-primary btn-lg" (click)="updateProfile($event)">
                                <i class="fa fa-upload mr-2"></i>
                                Update
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12" style="margin-top: 0">
            <div class="card mb-0">
                <div class="card-body" [formGroup]="profile">
                    <div class="card-pay">
                        <ul class="tabs-menu nav">
                            <li class="">
                                <a href="#tab20" class="" data-toggle="tab"
                                    style="background-color: darkblue ; color : white;">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                    Profile Picture </a>
                            </li>
                        </ul>
                        <div class="content">

                            <div class="col-xl-4  col-md-12">

                                <div class="card">
                                    <div class="item-card">
                                        <div class="item-card-desc">
                                            <a [routerLink]="[]"></a>
                                            <div class="item-card-img">
                                                <img src="/assets/images/TIS1.png" alt="img" class="br-tr-7 br-tl-7"
                                                    #profile_picture>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-8 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Profile Pricture <label><span
                                                    class="text-red">*</span></label></label>
                                        <div class="input-group">
                                            <input type="file" class="form-control" placeholder="MM" #image_file
                                                accept="image/*">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6" style="margin-top: 30px;">
                                    <a href="" class="btn btn-primary btn-lg" (click)="updatePicture($event)">
                                        <i class="fa fa-upload mr-2"></i>
                                        Update Picture
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <!-- 
            <div class="col-xl-6 col-lg-12 col-md-12" style="margin-top: 30px;">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="card-pay">
                            <ul class="tabs-menu nav">
                                <li class="">
                                    <a href="#tab20" class="" data-toggle="tab"
                                        style="background-color: darkblue ; color: white;">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        Agent Passport </a>
                                </li>
                            </ul>


                            <div class="col-xl-4  col-md-12">

                                <div class="card">
                                    <div class="item-card">
                                        <div class="item-card-desc">
                                            <a [routerLink]="[]" routerLinkActive="router-link-active"></a>
                                            <div class="item-card-img">
                                                <img src="/assets/images/TIS1.png" alt="img" class="br-tr-7 br-tl-7"
                                                    #profilePicture>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label"> Upload Portriat Selfie <label><span
                                            class="text-red">*</span></label></label>
                                <div class="input-group">
                                    <input type="file" class="form-control" placeholder="Choose Image File"
                                        name="imagefile" #imagefile>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->



        <div class="col-xl-6 col-lg-12 col-md-12" style="margin-top: 30px;">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="card-pay">
                        <div class="tab-content">
                            <div class="col-md-12" [formGroup]="password">
                                <div class="form-group">
                                    <label class="form-label"> Update Account Password <label><span
                                                class="text-red">*</span></label></label>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">New Passsword </label>
                                            <input type="password" class="form-control" placeholder="New Password"
                                                formControlName="password">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Confirm Password</label>
                                            <input type="password" class="form-control" placeholder="Confirm Password"
                                                formControlName="cpassword">
                                        </div>
                                    </div>
                                </div>


                                <div class="mt-2 mb-2" *ngIf="same">
                                    <a href="" class="btn btn-primary btn-lg" (click)="updatePassword($event)">
                                        <i class="fa fa-upload mr-2"></i>
                                        Update Password
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- <div class="col-xl-6 col-lg-12 col-md-12" style="margin-top: 30px;">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="card-pay">
                        <div class="tab-content">
                            <div class="col-md-12" [formGroup]="username">
                                <div class="form-group">
                                    <label class="form-label"> Update Account Username <label><span
                                                class="text-red">*</span></label></label>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">New Username </label>
                                            <input type="text" class="form-control" placeholder="New Password"
                                                formControlName="username">
                                        </div>
                                    </div>

                                    <small class="form-label" style="color: red;" *ngIf=" !username.invalid && alreadyExists == true"> Username already exist</small>                                    
                                    <small class="form-label" style="color:greenyellow" *ngIf="!username.invalid && alreadyExists == false"> Username is available</small>                                    


                                </div>


                                <div class="mt-2 mb-2" *ngIf="!alreadyExists">
                                    <a href="" class="btn btn-primary btn-lg" (click)="updateUsername($event)">
                                        <i class="fa fa-upload mr-2"></i>
                                        Update Username
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



    </div>
    <!-- </ng-template>
    <ng-template #else10>

    </ng-template> -->



</div>















<!----------Show Error Start ---------->
<ng-container *ngIf="updateError; then then14; else else14"></ng-container>
<ng-template #then14>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.8; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Error Occured </h2>
        <p style="display: block;">{{errorMessage}}</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="closeUpdateError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>



</ng-template>
<ng-template #else14>
</ng-template>
<!----------Show Error End ---------->




<!----------Show success  Start ---------->
<ng-container *ngIf="updateSuccess; then then13; else else13"></ng-container>
<ng-template #then13>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>


    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success animate" style="display: block;">
            <span class="sa-line sa-tip animateSuccessTip"></span>
            <span class="sa-line sa-long animateSuccessLong"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2 *ngIf="success">Update Submitted Successfully</h2>
        <h2 *ngIf="deleteMessage">Account Deleted</h2>
        <p style="display: block;">
            {{successMessage}}
        </p>
        <div class="sa-button-container">
            <div class="sa-confirm-button-container">
                <button (click)="closeUpdateSuccess()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else13>
</ng-template>
<!----------Show success End ---------->


<!------COUNTRY START ------->

<ng-template #countries>
    <option value="Afganistan"></option>
    <option value="Afganistan">Afghanistan</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
    <option value="American Samoa">American Samoa</option>
    <option value="Andorra">Andorra</option>
    <option value="Angola">Angola</option>
    <option value="Anguilla">Anguilla</option>
    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
    <option value="Argentina">Argentina</option>
    <option value="Armenia">Armenia</option>
    <option value="Aruba">Aruba</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Azerbaijan">Azerbaijan</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Belarus">Belarus</option>
    <option value="Belgium">Belgium</option>
    <option value="Belize">Belize</option>
    <option value="Benin">Benin</option>
    <option value="Bermuda">Bermuda</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bonaire">Bonaire</option>
    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Brazil">Brazil</option>
    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
    <option value="Brunei">Brunei</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
    <option value="Canary Islands">Canary Islands</option>
    <option value="Cape Verde">Cape Verde</option>
    <option value="Cayman Islands">Cayman Islands</option>
    <option value="Central African Republic">Central African Republic</option>
    <option value="Chad">Chad</option>
    <option value="Channel Islands">Channel Islands</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Christmas Island">Christmas Island</option>
    <option value="Cocos Island">Cocos Island</option>
    <option value="Colombia">Colombia</option>
    <option value="Comoros">Comoros</option>
    <option value="Congo">Congo</option>
    <option value="Cook Islands">Cook Islands</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Cote DIvoire">Cote DIvoire</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Curaco">Curacao</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="East Timor">East Timor</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egypt">Egypt</option>
    <option value="El Salvador">El Salvador</option>
    <option value="Equatorial Guinea">Equatorial Guinea</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Estonia">Estonia</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Falkland Islands">Falkland Islands</option>
    <option value="Faroe Islands">Faroe Islands</option>
    <option value="Fiji">Fiji</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="French Guiana">French Guiana</option>
    <option value="French Polynesia">French Polynesia</option>
    <option value="French Southern Ter">French Southern Ter</option>
    <option value="Gabon">Gabon</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Ghana">Ghana</option>
    <option value="Gibraltar">Gibraltar</option>
    <option value="Great Britain">Great Britain</option>
    <option value="Greece">Greece</option>
    <option value="Greenland">Greenland</option>
    <option value="Grenada">Grenada</option>
    <option value="Guadeloupe">Guadeloupe</option>
    <option value="Guam">Guam</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guinea">Guinea</option>
    <option value="Guyana">Guyana</option>
    <option value="Haiti">Haiti</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Honduras">Honduras</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="Indonesia">Indonesia</option>
    <option value="India">India</option>
    <option value="Iran">Iran</option>
    <option value="Iraq">Iraq</option>
    <option value="Ireland">Ireland</option>
    <option value="Isle of Man">Isle of Man</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jordan">Jordan</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Kenya">Kenya</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Korea North">Korea North</option>
    <option value="Korea Sout">Korea South</option>
    <option value="Kuwait">Kuwait</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Laos">Laos</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Liberia">Liberia</option>
    <option value="Libya">Libya</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Macau">Macau</option>
    <option value="Macedonia">Macedonia</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Malawi">Malawi</option>
    <option value="Maldives">Maldives</option>
    <option value="Mali">Mali</option>
    <option value="Malta">Malta</option>
    <option value="Marshall Islands">Marshall Islands</option>
    <option value="Martinique">Martinique</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Mayotte">Mayotte</option>
    <option value="Mexico">Mexico</option>
    <option value="Midway Islands">Midway Islands</option>
    <option value="Moldova">Moldova</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Montserrat">Montserrat</option>
    <option value="Morocco">Morocco</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Nambia">Nambia</option>
    <option value="Nauru">Nauru</option>
    <option value="Nepal">Nepal</option>
    <option value="Netherland Antilles">Netherland Antilles</option>
    <option value="Netherlands">Netherlands (Holland, Europe)</option>
    <option value="Nevis">Nevis</option>
    <option value="New Caledonia">New Caledonia</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Niger">Niger</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Niue">Niue</option>
    <option value="Norfolk Island">Norfolk Island</option>
    <option value="Norway">Norway</option>
    <option value="Oman">Oman</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Palau Island">Palau Island</option>
    <option value="Palestine">Palestine</option>
    <option value="Panama">Panama</option>
    <option value="Papua New Guinea">Papua New Guinea</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Phillipines">Philippines</option>
    <option value="Pitcairn Island">Pitcairn Island</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="Qatar">Qatar</option>
    <option value="Republic of Montenegro">Republic of Montenegro</option>
    <option value="Republic of Serbia">Republic of Serbia</option>
    <option value="Reunion">Reunion</option>
    <option value="Romania">Romania</option>
    <option value="Russia">Russia</option>
    <option value="Rwanda">Rwanda</option>
    <option value="St Barthelemy">St Barthelemy</option>
    <option value="St Eustatius">St Eustatius</option>
    <option value="St Helena">St Helena</option>
    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
    <option value="St Lucia">St Lucia</option>
    <option value="St Maarten">St Maarten</option>
    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
    <option value="Saipan">Saipan</option>
    <option value="Samoa">Samoa</option>
    <option value="Samoa American">Samoa American</option>
    <option value="San Marino">San Marino</option>
    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Senegal">Senegal</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Sierra Leone">Sierra Leone</option>
    <option value="Singapore">Singapore</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Solomon Islands">Solomon Islands</option>
    <option value="Somalia">Somalia</option>
    <option value="South Africa">South Africa</option>
    <option value="Spain">Spain</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Sudan">Sudan</option>
    <option value="Suriname">Suriname</option>
    <option value="Swaziland">Swaziland</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Syria">Syria</option>
    <option value="Tahiti">Tahiti</option>
    <option value="Taiwan">Taiwan</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Tanzania">Tanzania</option>
    <option value="Thailand">Thailand</option>
    <option value="Togo">Togo</option>
    <option value="Tokelau">Tokelau</option>
    <option value="Tonga">Tonga</option>
    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Turkey">Turkey</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Uganda">Uganda</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United Arab Erimates">United Arab Emirates</option>
    <option value="United States of America">United States of America</option>
    <option value="Uraguay">Uruguay</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Vatican City State">Vatican City State</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Vietnam">Vietnam</option>
    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
    <option value="Wake Island">Wake Island</option>
    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
    <option value="Yemen">Yemen</option>
    <option value="Zaire">Zaire</option>
    <option value="Zambia">Zambia</option>
</ng-template>

<!------Country End -------->




<ng-container *ngIf="upInPorgress; then then15"></ng-container>

<ng-template #then15>
    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2> {{updateMessage}} </h2>
        <p style="display: block; text-align: left;">
            {{updateDetails}}
        </p>
        <div class="card-body text-center" *ngIf="showLoader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="btn-danger" *ngIf="showDeleteButton">
                <button (click)="deleteAccount()" class="confirm" tabindex="1"
                    style="display: inline-block;  background-color: red;">
                    Delete Account </button>

                <button style="margin-left: 3px;" (click)="cancel()" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Cancel </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

        </div>
    </div>

</ng-template>
=======
        <!-- Banner opened -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header" style="margin-top: 5%;">
                        <h4 class="card-title">Account Profile</h4>
                        <div class="card-options ">
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-collapse" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                    class="fe fe-maximize"></i></a>
                            <a [routerLink]="[]" routerLinkActive="router-link-active" class="card-options-remove" data-toggle="card-remove"><i
                                    class="fe fe-x"></i></a>
                        </div>
                    </div>


                    <!----------------body conatiner --------------->
                    <div class="col-lg-6 col-xl-3 col-md-12" style="margin-top: 20px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="status-info text-center">
                                    <div class="status-img">
                                        <img src="/assets/images/other/correct.png" alt="task">
                                    </div>
                                    <h3 class="text-uppercase mt-2 mb-2">Status Verified</h3>
                                    <p class="text-muted">At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui
                                        blanditiis
                                        praesentium</p>
                                    <a href="" class="btn btn-success text-uppercase">Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>
>>>>>>> first commit from server
