.verified {
    display: none;
    visibility: hidden;
}

.showOverlay {
    opacity: 1.24 ;
    display: block;
}

.hideOverlay {
    opacity: -0.03;
    display: none;
}

.display-block {
    display: block ;
}



