<div class="app sidebar-mini sidebar-gone">

    <!-- Loader -->
    <div id="loading" style="display: none;">
        <img src="/assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>

    <!-- PAGE -->
    <div id="app" class="page">
        <div class="page-main">

            <ng-container #header></ng-container>

            <ng-container #leftsidenav></ng-container>

            <!-- App-content opened -->
            <router-outlet></router-outlet>
            <!-- App-content closed -->


           

           

        </div>

    </div>
</div>

 <!-- Right-sidebar-->
 <ng-container #rightsidenav></ng-container>
 <!-- Right-sidebar-closed -->


  <!-- Footer opened -->
  <ng-container #footer></ng-container>
  <!-- Footer closed -->