<<<<<<< HEAD
<!-- Top-header opened -->
<div class="header-main header sticky">
    <div class="app-header header top-header navbar-collapse ">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="header-brand" [routerLink]="['']" routerLinkActive="router-link-active" >
                    <img src="/assets/images/TIS1.png" class="header-brand-img desktop-logo " alt="TAP logo" width="100"
                        height="100">
                    <img src="/assets/images/TIS1.png" class="header-brand-img desktop-logo-1 " alt="TAP logo"
                        width="100" height="100">
                    <img src="/assets/images/TIS1.png" class="mobile-logo" alt="TAP Logo" width="40" height="40">
                    <img src="/assets/images/TIS1.png" class="mobile-logo-1" alt="TAP logo" width="40" height="40">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Top-header closed -->


<ng-container *ngIf="showForm">
    <div class="app h-100vh sidebar-gone ">
        <!-- Page opened -->
        <div class="page ">
            <div class="">
                <div class="col col-login mx-auto">
                    <!-- <div class="text-center">
                        <img src="/assets/images/reg.png" class="header-brand-img desktop-logo h-100 mb-5" alt="Dashlot logo">
                        <img src="/assets/images/reg.png" class="header-brand-img dark-theme h-100 mb-5 " alt="Dashlot logo">
                    </div> -->
                </div>
            </div>


            <!-- Container opened -->
            <!-- <div class="container" [ngClass]="{'dispalyForm': showForm}"> -->
            <div class="container" >

=======
<div class="app h-100vh sidebar-gone ">
    <!-- Page opened -->
    <div class="page ">
        <div class="">
            <div class="col col-login mx-auto">
                <!-- <div class="text-center">
                    <img src="/assets/images/reg.png" class="header-brand-img desktop-logo h-100 mb-5" alt="Dashlot logo">
                    <img src="/assets/images/reg.png" class="header-brand-img dark-theme h-100 mb-5 " alt="Dashlot logo">
                </div> -->
            </div>
        </div>
        <!-- Container opened -->
        <div class="container">
>>>>>>> first commit from server
            <div class="row">
                <div class="col-xl-9 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 pr-0 d-none d-lg-block container">
<<<<<<< HEAD
                                <img src="/assets/images/reg.png" alt="img" class="br-tl-2 br-bl-2 container "
                                    style="position: relative; margin-top: 100px;">
                            </div>
                            <div class="col-md-12 col-lg-5 pl-0 ">

                                <form class="card-body p-6 about-con pabout" [formGroup]="regForm">
                                    <div class="card-title text-center">Account Registration</div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name"
                                            placeholder="Enter your surname here ... " formControlName="surname">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="First name"
                                            formControlName="first_name">
=======
                                <img src="/assets/images/reg.png" alt="img" class="br-tl-2 br-bl-2 container " style="position: relative; margin-top: 100px;">
                            </div>
                            <div class="col-md-12 col-lg-5 pl-0 ">
                                <form class="card-body p-6 about-con pabout" [formGroup]="regForm">
                                    <div class="card-title text-center">New Affliate Account</div>
                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name"
                                            placeholder="Enter surnane" formControlName="surname">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="First name"
                                            formControlName="firstname">
>>>>>>> first commit from server
                                    </div>


                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="text" class="form-control" 
                                            placeholder="Middle Name" formControlName="middle_name">
=======
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Middle Name" formControlName="middlename">
>>>>>>> first commit from server
                                    </div>


                                    <div class="form-group overflow-hidden">
<<<<<<< HEAD
                                        <select class="form-control select2 w-100 select2-hidden-accessible"
                                            formControlName="sex" tabindex="-1" aria-hidden="true">
=======
                                        <select class="form-control select2 w-100 select2-hidden-accessible" formControlName="sex"
                                            tabindex="-1" aria-hidden="true">
>>>>>>> first commit from server
                                            <option selected="selected" value="">Select gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="date" class="form-control" customCache
=======
                                        <input type="date" class="form-control" id="exampleInputPassword2"
>>>>>>> first commit from server
                                            placeholder="DOB" formControlName="dob">
                                    </div>

                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="text" class="form-control" customCache
                                            placeholder="Preferred username" formControlName="username">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" customCache
=======
                                        <input type="text" class="form-control" id="exampleInputPassword2"
                                            placeholder="Prefered username" formControlName="username">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword2"
>>>>>>> first commit from server
                                            placeholder="Email" formControlName="email">
                                    </div>


                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="tel" class="form-control" customCache
                                            placeholder="Phone Number" formControlName="phone_number">
=======
                                        <input type="tel" class="form-control" id="exampleInputPassword2"
                                            placeholder="Phone Number" formControlName="phoneNumber">
>>>>>>> first commit from server
                                    </div>


                                    <div class="form-group">
<<<<<<< HEAD
                                        <input type="password" class="form-control" customCache
                                            placeholder="Enter preferred account password" formControlName="password">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" customCache
=======
                                        <input type="password" class="form-control" id="exampleInputPassword2"
                                            placeholder="Retype-Password" formControlName="password">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword2"
>>>>>>> first commit from server
                                            placeholder="Retype-Password" formControlName="cpassword">
                                    </div>


                                    <div class="form-group">
<<<<<<< HEAD

                                        <label class="custom-control">
                                            <input type="checkbox" formControlName="agree" class="col-sm-3">
                                            <a (click)="showterms()" [routerLink]="[]"
                                                routerLinkActive="router-link-active">
                                                <span class="">I Agree with terms and Conditions
                                                </span>
                                            </a>
                                        </label>
                                    </div>
                                    <div class="form-footer mt-2" 
                                    *ngIf=" !regForm.invalid && agreed == true && same == true &&  username_exist == false && email_exist == false  ">
                                        <a (click)="regComplete()" class="btn btn-success btn-block">Sign Up</a>
                                    </div>
                                    <small *ngIf="username_exist" style="color: red;" class="col-xl-12">Username already exists</small>
                                    <small *ngIf="email_exist" style="color: red;" class="col-xl-12" >Email already exists</small>
=======
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input ">
                                            <span class="custom-control-label">I Agree With terms and Conditions</span>
                                        </label>
                                    </div>
                                    <div class="form-footer mt-2">
                                        <a (click)="regComplete()" class="btn btn-success btn-block">Sign Up</a>
                                    </div>
>>>>>>> first commit from server
                                    <div class="text-center  mt-3 mb-0">
                                        Don't have account? <a [routerLink]="['/login']"
                                            routerLinkActive="router-link-active" class="text-primary">Login</a>
                                    </div>
<<<<<<< HEAD
                                    
=======
>>>>>>> first commit from server
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container closed -->
    </div>
    <!-- Page closed -->
<<<<<<< HEAD
    </div>
</ng-container>







<ng-container *ngIf="showTerms; then template1; else else2"></ng-container>

<ng-template #template1>

    <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning pulseWarning" style="display: block;">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Terms And Condition</h2>
        <p style="display: block; text-align: left;">
            By clicking the Sign Up Button on the registration page after the provision of the required
            information , you have agreed that : <br />
            (i) All Information provided are true and accurate as required <br />
            (ii) All data collected will have their use according to our privacy policies <br />
            (iii) You are aged 18 or Over.<br />
        </p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-error-container">
            <div class="icon">!</div>
            <p>Not valid!</p>
        </div>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="close()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go
                    Close </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>


</ng-template>

<ng-template #else2>
</ng-template>




<ng-container *ngIf="showSuccessful; then then1; else else3"></ng-container>
<ng-template #then1>
    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error" style="display: none;">
            <span class="sa-x-mark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success animate" style="display: block;">
            <span class="sa-line sa-tip animateSuccessTip"></span>
            <span class="sa-line sa-long animateSuccessLong"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Congratulations!</h2>
        <p style="display: block;">Registration was successful, kindly check your email to continue!</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-error-container">
            <div class="icon">!</div>
            <p>Not valid!</p>
        </div>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="login()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Go
                    Login into account </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #else3>

</ng-template>


<ng-container *ngIf="regprogress; then regthen; else regelse"></ng-container>
<ng-template #regthen>

    <!-- <div class="sweet-overlay" tabindex="-1" style="opacity: 1.06; display: block;"></div> -->
    <div class="col-md-12 col-lg-6 col-xl-3 container">
        <div class="card">
            
            <div class="card-header">
                <h4 class="card-title">Registration in Progress Please wait</h4>
            </div>

            <div class="card-body text-center">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #regelse>

</ng-template>


<footer class="footer-main icon-footer">
    <div class="container">
        <div class="  mt-2 mb-2 text-center">
            Copyright Tcode Investment Scheme © 2020 <a [routerLink]="" routerLinkActive="router-link-active"
                class="fs-14 text-primary">TAP Agent Registration Page</a>
            <a href="https://tcodeinvestment.com" class="fs-14 text-primary">
            </a>
            All rights reserved.
        </div>
    </div>
</footer>





<ng-container *ngIf="error; then then19; else else19"></ng-container>
<ng-template #then19>


    <div class="sweet-overlay" tabindex="-1" style="opacity: 0.9; display: block;"></div>

    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
        data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false"
        data-animation="pop" data-timer="null" style="display: block; margin-top: -166px;">
        <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
            <span class="sa-x-mark animateXMark">
                <span class="sa-line sa-left"></span>
                <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>{{error_message}}</h2>
        <p style="display: block;">{{error_detail}}</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-button-container">
            <!-- <button class="cancel" tabindex="2" style="display: inline-block;">Stay on the page</button> -->
            <div class="sa-confirm-button-container">
                <button (click)="closeError()" class="confirm" tabindex="1"
                    style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                    Close Message </button>
                <div class="la-ball-fall">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #else19>

</ng-template>
=======

</div>
>>>>>>> first commit from server
