<div class="app-content icon-content">
    <div class="section">

        <!--  Page-header opened -->
        <div class="page-header" style="margin-top: 2%;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/tap-account-dashboard/messages']" routerLinkActive="router-link-active" ><i class="fe fe-life-buoy mr-1"></i> Messages </a></li>
                <li class="breadcrumb-item active" aria-current="page">Messages / Compose Message</li>
            </ol>
            <div class="mt-3 mt-lg-0">
                <div class="d-flex align-items-center flex-wrap text-nowrap">
                    <!-- <button type="button" class="btn btn-success btn-icon-text mr-2 d-none d-md-block">
                        <i class="fe fe-download"></i>
                        Import
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon-text mr-2 mb-2 mb-md-0">
                        <i class="fe fe-printer"></i>
                        Print
                    </button>
                    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                        <i class="fe fe-download-cloud "></i>
                        Download Report
                    </button> -->
                </div>
            </div>
        </div>
        <!--  Page-header closed -->

        <!-- row opened -->
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="list-group list-group-transparent mb-0 mail-inbox">
                        <div class="mt-4 mb-4 ml-4 mr-4 text-center">
                            <a [routerLink]="['/tap-account-dashboard/messages/received']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg btn-block">view Inbox</a>
                        </div>
                        <!-- <a href="emailservices.html" class="list-group-item list-group-item-action d-flex align-items-center active">
                            <span class="icon mr-3"><i class="fe fe-inbox"></i></span>Inbox <span class="ml-auto badge-pill badge badge-success">05</span>
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-send"></i></span>Sent Mail
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-alert-circle"></i></span>Important <span class="ml-auto badge-pill badge badge-danger">01</span>
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-star"></i></span>Starred
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-file"></i></span>Drafts
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-tag"></i></span>Tags
                        </a>
                        <a [routerLink] = ""  class="list-group-item list-group-item-action d-flex align-items-center">
                            <span class="icon mr-3"><i class="fe fe-trash-2"></i></span>Trash
                        </a> -->
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card-header border-bottom-0 online-status d-flex justify-content-between align-items-center">
                        <p class="card-title">Chats</p>
                        <div class="status offline online"> <h6 class="online text-right">online</h6></div>
                    </div>
                    <ul class="mail-chats m-0">
                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/5.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Brian	Wilson</p>
                                    <p class="u-designation">App Developer</p>
                                </div>
                            </a>
                        </li>

                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/1.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Kylie	Morgan</p>
                                    <p class="u-designation">Project manager</p>
                                </div>
                            </a>
                        </li>

                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/12.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Andrew Piper</p>
                                    <p class="u-designation">Web designer</p>
                                </div>
                            </a>
                        </li>

                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/2.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Peter	Roberts</p>
                                    <p class="u-designation">UI/UX Designer</p>
                                </div>
                            </a>
                        </li>


                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/14.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">John	Hamilton</p>
                                    <p class="u-designation">Project leader</p>
                                </div>
                            </a>
                        </li>
 
                        <li class="chat-persons">
                            <a [routerLink] = "" >
                                <span class="pro-pic"><img src="../assets/images/users/15.jpg" alt=""></span>
                                <div class="user">
                                    <p class="u-name">Elizabeth	Fraser</p>
                                    <p class="u-designation">Web Developer</p>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div> -->
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Compose new message</h3>
                        <div class="card-options">
                            <a [routerLink] = ""  class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a [routerLink] = ""  class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                            <a [routerLink] = ""  class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="composedMessage">
                            <div class="form-group">
                                <div class="row align-items-center">
                                    <label class="col-sm-2">To</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="admin@tcodeinvestment.com (Admin)" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row align-items-center">
                                    <label class="col-sm-2">Subject</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="title">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row ">
                                    <label class="col-sm-2">Message</label>
                                    <div class="col-sm-10">
                                        <textarea rows="10" class="form-control" formControlName="message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer d-sm-flex">
                        <!-- <div class="mt-2 mb-2">
                            <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Attach"><i class="fe fe-paperclip text-muted fs-20"></i></a>
                            <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Link"><i class="fe fe-link-2 text-muted fs-20"></i></a>
                            <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Photos"><i class="fe fe-image text-muted fs-20"></i></a>
                            <a href="javascript:void(0)" class="mr-3" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fe fe-trash-2 text-muted fs-20"></i></a>
                        </div> -->
                        <div class="btn-list ml-auto">
                            <!-- <button type="button" class="btn btn-danger btn-space">Cancel</button> -->
                            <button type="submit" (click)="sendMessage()" class="btn btn-primary btn-space" *ngIf="!composedMessage.invalid && showButton">Send Message Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row closed -->
    </div>
</div>